.navbar {
  padding: 1.8rem 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: hsl(0, 0%, 7%);
}
.navbar-brand {
  width: 90px;
}
.navbar-brand span {
  margin-left: 2rem;
}
.brand-and-toggler {
  width: 100%;
}
.navbar-content {
  display: flex;
  width: 100%;
  padding: 0.5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar-toggler-btn {
  transition: var(--transition);
  z-index: 11;
  background-color: var(--background-color);
  color: white;
}
.navbar-collapse {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: hsl(0, 0%, 7%);
  height: 100%;
  width: 280px;
  display: flex;
  padding: 10rem 3rem 0 3rem;
  transform: translatex(100%);
  transition: var(--transition);
}
.show-navbar-collapse {
  transform: translateX(0);
}
.nav-item {
  margin-bottom: 1.4rem;
}
.nav-link {
  transition: var(--transition);
  text-transform: capitalize;
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
.nav-link:hover {
  color: #9b00cc;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    position: relative;
    height: auto;
    padding: 0;
    width: 100%;
    background-color: transparent;
    transform: translateX(0);
    justify-content: flex-end;
  }
  .navbar-toggler-btn {
    display: none;
  }
  .nav-item {
    margin-bottom: 0;
    margin-left: 2.8rem;
  }
  .nav-link {
    color: var(--white-color);
    font-size: 1.9rem;
    font-weight: 700 !important;
    opacity: 0.8;
    text-transform: capitalize;
  }
  .navbar-nav {
    display: flex;
  }
}
