/*==========GOOGLE FONT==========*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /*==========COLORS==========*/
  --primary-color: #9b00cc;
  --secondary-color: rgb(105, 180, 0);
  --title-color: hsl(0, 0%, 40%);
  --primary-text-color: #fff;
  --secondary-text-color: hsl(0, 0%, 80%);
  --container-color: hsl(0, 1%, 17%);
  --background-color: hsl(0, 0%, 7%);
  --transition: all 300ms ease-in-out;
  --scroll-color: #fff;

  /*==========TYPOGRAPHY==========*/
  --body-font: "Rubik", sans-serif;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 0.9rem;
  --smaller-font-size: 0.813rem;

  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

  --border-radius: 20px;
}

[data-theme="light"] {
  --primary-text-color: hsl(0, 0%, 7%);
  --background-color: #fbfcf8;
  --container-color: hsl(0, 0%, 93%);
  --scroll-color: #9b00cc;
}

/*==========RESPONSIVE==========*/
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.7rem;
    --h3-font-size: 1.4rem;
    --normal-font-size: 1.3rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.9rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-color: var(--background-color);
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: var(--body-font);
  color: var(--primary-text-color);
  transition: all 0.3s;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
}

/* resets */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-text-color);
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
button {
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
h1,
h2,
h3 {
  color: var(--primary-text-color);
  font-weight: var(--font-weight-700);
}
img {
  width: 100%;
  display: block;
}
input {
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: 1.6rem;
}
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/*==========REUSABLE CSS==========*/

.flex {
  display: flex;
  align-items: center;
}

.separator {
  border-top: 1px solid var(--container-color);
  max-width: 40%;
  margin: 72px auto 56px;
}

.flex-column {
  flex-direction: column;
}

.flex-sb {
  justify-content: space-between;
}

.flex-c {
  justify-content: center;
}

.grid {
  display: grid;
}

.container {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section_title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-700);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.75rem;
  text-align: center;
  width: fit-content; /* Adjusts width to content for centering */
}

.btn {
  padding: 0.9rem 2.5rem;
  margin-top: 0.5rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
  display: inline-block;
  background-color: var(--primary-color);
  font-weight: var(--font-weight-700);
}

@keyframes button-push {
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
}
